{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="profile">
        <form action="/profile" method="get">
            <h5>Username: </h5>{{ username }}
        </form>
            
        <form action="/profile" method="post">
            <h5>Change Password</h5>
            <div class="form-group">
                <input class="form-control" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password_confirmation" placeholder="New Password (again)" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>

    </div>
{% endblock %}
